body{
    background-color: #eefcff;
}
.navbar a:hover {
    color: blue;
    border-radius: 10px;
    background: #56B7CC;
    box-shadow: 6px 6px 12px #bebebe,
        -6px -6px 12px #ffffff;
}
.navbar .dropdown {
    background: #56B7CC;
    color: #ffffff;
}
.navbarman{
    height: 70px;
    background: #FFFFFF;
    box-shadow: 9px 12px 20px rgba(163, 177, 198, 0.3);
}
.heading{
    margin-top:100px
}
#makingArt{
    margin-top: 100px;
    border-radius: 22px;
    margin: 25px 300px 75px 300px;
    background: #EEFCFF;
    box-shadow: -9px -12px 20px #D6F8FF, 9px 12px 20px rgba(0, 0, 0, 0.25);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.promo-title {
    font-size: 35px;
    font-weight: 600;
    /* margin-bottom: 50px; */

}
/* .formnya{
    margin-left: 20%;
    margin-right: 20%;
} */