body{
    background: #EEFCFF;
}
.navbar{
    position: sticky !important;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0px 64px 0px 20px;
    width: 100%;
    height: 90px;
    font-weight: 500;
    box-shadow: 9px 12px 20px rgba(163, 177, 198, 0.3);
}
.nav-item{
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
}
.dropdown {
    padding: 10px 15px;
    background: #56B7CC;
    border-radius: 10px;
    height: 55px;
}
.dropdown-toggle{
    color: white;
}
.nav-link:hover {
    color: #F09E54;
    margin-top: 3px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 750;
}
.dropdown-toggle:hover{
    color: white;
    margin-top: 3px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
}
#home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    align-items: center;
    grid-gap: 4rem;
    padding: 5rem;
}
.homeleft{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
    justify-items: start;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.20em;
}
.homedesc{
    font-weight: 400;
}
.homeright img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    background-color: #EEFCFF;
}
hr{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-width:2px;
}
.programkk{
    background-color: rgba(128, 164, 255, 0.12);
}
.programtitle{
    padding: 3rem;
    font-size: 22px;
    font-weight: 700;
}
.programbody{
    margin-left: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    align-items: center;
    grid-gap: 4rem;
    padding: 20px 0 0 50px;
    text-align: center;
}
.programcard p{
    font-weight: 600;
    padding: 20px;
}
.foothome{
    background-color: white;
}
.footatas{
    padding: 35px;
    text-align: center;
}
.footatas H1{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
.rktitle{
    padding: 5rem 0 0 4rem;
    font-size: 22px;
    font-weight: 700;
}
.listkonselor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 4rem;
    padding: 3rem 5rem;
}
.konselor{
    position: static;
    align-items: center;
    border-radius: 15px;
    box-shadow: -9px -12px 20px #D6F8FF, 9px 12px 20px rgba(0, 0, 0, 0.25);
}
.konselor img{
    border-radius: 15px;
}
.konselor h5{
    font-size: 18px;
    font-weight: 700;
}
.konselor p{
    padding: 5px 0 10px 0;
    height: 130px;
    width: 316px;
}
.konselor .btn{
    width: 315px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    background-color: #56B7CC;
}
.modal-content{
    background-color: #EEFCFF;
}
.modal-title{
    margin-bottom: 0;
    line-height: var(--bs-modal-title-line-height);
}
.bodyprev{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 4rem;
    padding: var(--bs-modal-padding);
}
.modalprofile{
    margin-left: 50px;
    text-align: center;
}
.modalprofile h1{
    font-weight: 700;
    font-size: 22px;
    padding: 20px;
    margin-bottom: 30px;
}
.modaldesc h2{
    font-weight: 650;
    font-size: 18px;
}
.formreserv input{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.formreserv .btn{
    margin-left: 85px;
    width: 70%;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    background-color: #56B7CC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.payment{
    margin: auto;
    width: 500px;
    padding: 20px;
    background-color: #E1F1FF !important;
    border-radius: 10px !important;
    box-shadow: 0 5px 10px #4f534e;
}
.payment hr{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 20px;
}
.invoice{
    display: flex;
    justify-content: space-between;
}
.invoice-left h2{
    font-weight: 400;
    font-size: 16px;  
}
.invoice-right{
    text-align: right;
}
.invoice-right h2{
    font-weight: 700;
    font-size: 16px;  
    color: #3DC61B;
}
.invoice-left h1,
.invoice-right h1 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px; 
}
.qrcode img{
    display: block;
    margin: auto;
    align-items: center;
    width: 150px;
}
.payment .btn{
    display: block;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 248px;
    color: white;
    font-weight: 500;
}
.modal-dialog-centered{
    justify-content: center;
}
.modalpembayaran{
    background-color: white;
    width: 80%;
    border-radius: 30px;
}
.bodypembayaran{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.bodypembayaran img{
    width: 200px;
    padding: 40px;
}
.bodypembayaran h3{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 70px;
}
.bodypembayaran .btn{
    width: 175px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
}
.carousel-item{
    height: 85vh;
    min-height: 500px;
}
.carousel-caption{
    text-align: justify;
    z-index: 2;
    bottom: 1.5rem;
    left: 8%;
}
.carousel-caption h5{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-weight: 650;
}
.carousel-caption p{
    width: 60%;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 450;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(146, 146, 146, 0) 3.12%, rgba(132, 132, 132, 0.81) 70.31%);
    z-index: 1;
}
.carousel-control-next, 
.carousel-control-prev{
    width: 5%;
}
#makingArt{
    margin-top: 100px;
    border-radius: 22px;
    margin: 25px 300px 75px 300px;
    background: #EEFCFF;
    box-shadow: -9px -12px 20px #D6F8FF, 9px 12px 20px rgba(0, 0, 0, 0.25);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.promo-title {
    font-size: 35px;
    font-weight: 600;
    /* margin-bottom: 50px; */
}
.kontenartikel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 4rem;
    padding: 4rem 5rem 2rem 5rem;
}
.judulartikel{
    background-color: #EEFCFF ;
    align-items: center;
    border: none;
}
.judulartikel img{
    border-radius: 10px;
}
.judulartikel h5{
    font-size: 18px;
    font-weight: 700;
}
.judulartikel p{
    padding: 5px 0 10px 0;
    width: 316px;
}
.judulartikel .btn{
    width: 115px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    color: black;
    background-color: transparent;
    border-color: black;
}
.cardslide{
    display: flex;
    justify-content: center;
    padding: 10px 10px 5px 10px;
}
.jadwal{
    margin: 0.5rem;
    width: calc(100%/2);
    background-color: #E1F1FF !important;
    border-radius: 10px !important;
    box-shadow: 0 5px 10px #4f534e;
}
.namajam{
    display: flex;
    justify-content: space-between;
}
.jadwal h3{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    padding: 20px;
}
.jadwalleft h5{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.jadwalright h5{
    font-size: 18px;
    font-weight: 450;
    line-height: 30px;
}
.addartikel{
    margin: auto;
    width: 800px;
    padding: 20px;
    background-color: #E1F1FF !important;
    border-radius: 10px !important;
    box-shadow: 0 5px 10px #4f534e;
}
.addartikel .btn{
    width: 110px;
    height: 42px;
    border-radius: 10px;
    font-weight: 600;
}
.btnartikel{
    color: white;
    background-color: rgba(86, 183, 204, 1);
}